include ../mixins/sub-menu.pug

header
.header
    .container        
        .inner-logo 
            img(src="/images/logo.jpg" , alt="Logo") 

        .inner-menu 
            ul.dropdown 
                li 
                    a(href="/")  Trang chủ
                li
                    a(href="/products") Sản phẩm 
                    +sub-menu(categoryTree,"/products/category",1)