/* Header */

.header{
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
}
.header .inner-logo img{
    max-height: 50px;
    max-width: 100%;
}
.header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.header .inner-menu > ul > li {
    margin-left: 20px;
}
/* End Header */

/* Footer */
.footer{
    color: #fff;
    background: #333;
    text-align: center;
    padding: 10px;
}
/* End Footer */

/* Product Item */
.product-item{
    position: relative;
    border: 2px solid #ddd;
    border-radius: 8px;
    height: 350px;
    overflow: hidden;
}
.product-item .inner-image{
    width: 100%;
    height: 60%;
}
.product-item .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-item .inner-content{
    padding: 10px ;
}
.product-item .inner-content .inner-price-new{
    color: green;
    font-weight: 500;
    font-size: large;
}
.product-item .inner-content .inner-price-old{
    color: red;
    text-decoration: line-through;
    font-weight: 500;
    font-size: large;
}
.product-item .inner-content .inner-discount{
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    border-radius: 8px;
    text-align: center;
    width: 70px;
}
/* End Product Item */
/* Show Alert  */
[show-alert] {
    transform: translateX(100%); /* Đặt div ra khỏi màn hình về phía bên phải */
    transition: transform 0.5s ease-in-out; /* Hiệu ứng chuyển đổi kéo dài 1 giây */
    opacity: 0; /* Đặt độ mờ ban đầu */
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 999;
}
[show-alert].show{
    transform: translateX(0); /* Di chuyển div về vị trí ban đầu */
    opacity: 1; /* Hiển thị div */
}
[show-alert] .button-close{
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    color: black;
}
[show-alert] .button-close:hover{
    cursor: pointer;
}
[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

/* End Show Alert */