doctype html 
html
    head 
        title Page 404
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous")
    body
        h1(style = "color : red").text-center.mt-5 ERROR 404 
        h2.text-center PAGE NOT FOUND!