extends ../../layouts/default.pug
include ../../mixins/notification.pug
include ../../mixins/products-grid.pug
include ../../mixins/box-head.pug
include ../../mixins/pagination.pug
block main 
    +notification(4000)
    .container 
        .my-3   
            .row 
                .col-12 
                    +box-head(pageTitle)
            +products-grid(products)
            +pagination(totalPage,currentPage)

