//- mixin notification(timeShow = 3000)
//-     while message = flash.shift()
//-         .alert(
//-                 class=('alert-' + message.type)
//-                 show-alert
//-                 time-show = timeShow
//-             )   #{message.message}
//-             span(class="button-close") x

mixin notification(timeShow = 3000)
    - let message
    while message = flash.shift()
        if message
            .alert(
                class=('alert-' + message.type)
                show-alert
                time-show=timeShow
            )
                | #{message.message}
                span(class="button-close") x
