extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/notification.pug
include ../../mixins/go-back.pug

append head
    link(rel="stylesheet", href="/css/chat.css")

block main 
    +notification(4000)
    .container 
        +box-head("Chat")
        .frame-mess
            ul.messages
                for mess of chats 
                    if mess.user_id != user_id
                        li
                            strong #{mess.fullName}
                        li(class="friend")
                            .mess-item #{mess.content}
                    else 
                        li(class="self") 
                            .mess-item #{mess.content}
            form(action="", method="get" class="chat-form") 
                input(type="text" class="chat-mess" placeholder = "Aa")
                span(class ="btn btn-icon") 
                    i(class="fa-regular fa-face-smile")
                    div(class="tooltip" role ="tooltip")
                        emoji-picker
                button(type="submit" class="send-mess") 
                    i(class="fa-regular fa-paper-plane")

    script(src="/socket.io/socket.io.js") 
    script(type="module" src="/js/chat.js") 