extends ../../layouts/default.pug
include ../../mixins/notification.pug
block main   
    .container  
        +notification(4000)
        form(action=`/user/reset-password`, method="post" class="form") 
            h2.header-form Đổi mật khẩu 
            .row
                .col-12.form-group 
                    label(for="password") Mật khẩu
                    input(type="password" id="password" name="password" class="form-control" required)
                .col-12.form-group 
                    label(for="repassword") Xác nhận mật khẩu
                    input(type="password" id="repassword" name="repassword" class="form-control" required)
                .col-12.mb-3.mt-2
                    button(class="btn btn-primary" style="width : 100%" type="submit") Xác nhận   