extends ../../layouts/default.pug
include ../../mixins/notification.pug
block main 
    +notification(4000)
    //- h2 Trang tổng quan
    //- p #{user}
    //- p #{role}
    .body-animation
        .animation-text I'm a  
            span 

