extends ../../layouts/default.pug
include ../../mixins/notification.pug
block main 
    +notification(4000)
    include ../../partials/friend-buttons.pug
    .container
        .inner-card-user(friends = account._id.toString())
            for user in users
                .card-user.friend(online = user.online ? "true" : "false" , id = user._id)
                    .avarta
                        img(src=user.thumbnail || (user.gender == "male" ? "/images/avarta-man.png" : "/images/avarta-woman.svg") alt="Avarta")
                    .content 
                        .infor 
                            p #{user.username}
                        .btns.btn1
                            button(class ="btn btn-primary" btn-add-friend = user._id) 
                                i(class="fa-solid fa-user-plus")
                                |  Kết bạn
                        .btns.btn2 
                            button(class ="btn btn-primary" btn-chat-friend = user._id) 
                                i(class="fa-solid fa-user-plus")
                                |  Nhắn tin
                            button(class ="btn btn-primary" btn-unfriend = user._id ) Hủy kết bạn
    script(src="/socket.io/socket.io.js")
    script(src="/js/users.js") 
